@{
    ViewBag.Title = "About";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>*@

<div class="content-wrapper" style="width:1380px">
    <div class="about-title">
        <h3>About</h3>
        <i></i>
        <h5>Learn more about us</h5>
    </div>
    <div class="about-tag">
        <h3>Founded by a team of professional and member of Associate of Chartered Certified Accountants (ACCA), providing services with ensured quality and experience that help business grow.</h3>
        <p>We are an accounting and business advisory firm that proudly based in Johor Bahru that focuses on providing accounting &amp; tax services, also financial and business consultancy.</p>
    </div>
    <div class="about-boxes">
        <div class="about-box-div">
            <div class="about-box-img about-box-img-1"><img src="/images/blank.png" /></div>
            <h4>We care about numbers in your business</h4>
            <p>With good governance of financial figures, we can help organization determine overall wealth, profitability, and liquidity thus daily and long-term decisions could be made accurately.</p>
        </div>
        <div class="about-box-div">
            <div class="about-box-img about-box-img-1"><img src="/images/blank.png" /></div>
            <h4>We stay committed and passionate</h4>
            <p>Our commitment and passions to deliver high-quality assurance services is at the heart of what we do. </p>
        </div>
        <div class="about-box-div">
            <div class="about-box-img about-box-img-1"><img src="/images/blank.png" /></div>
            <h4>We create values</h4>
            <p>Creating value for our clients in a fast changing world so that organisation can stay ahead and relevant.</p>
        </div>
    </div>
</div>


