@{
    ViewBag.Title = "Contact";
}

<div style="transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);margin-top : 10px;">
    <div id="google-map" style="text-align:center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.4825808391083!2d103.7671055!3d1.4826344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da6d2e8cb46e33%3A0x557a3bd959e43701!2s4%2C+Jalan+Abiad+1%2C+Taman+Tebrau+Jaya%2C+80400+Johor+Bahru%2C+Johor!5e0!3m2!1sen!2smy!4v1422976786711" width="950" height="450" frameborder="0" style="border:1"></iframe>
    </div>
    <div id="contactDetails" style="margin: 0px auto; max-width: 950px; background: none repeat scroll 0% 0% #F8F8F8; ">
        <div>
            <h3 style="margin:10px 0px;color: #656565; line-height: 40px; font-size: 42px; font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif; ">FIND US</h3>
            <h5 style="color: #656565;">Visit Us !</h5>
            <p><span data-icon="&#xf1ad" style="margin-right:10px;"></span>4A, Jalan Abiad 1, Taman Pelangi, 80400 Johor Bahru</p>
            <p><span data-icon="&#xf095" style="margin-right:10px;"></span>+607 - 336 5521 (Office)</p>
            <p><span data-icon="&#xf10b" style="margin-right:25px;"></span>+6012- 792 8792 (Mr. Allen)</p>
            <p><span data-icon="&#xf0e0" style="margin-right:10px;"></span>admin@wbs.com.my</p>
        </div>
    </div>
</div>


