@{
    ViewBag.Title = "Events";
}

<div class="content-wrapper" style="width:1380px">
    <div class="event-hero">
        <div class="event-hero-wrapper">
            <div class="event-hero-content-text">
                <h1>gst preparatory workshop</h1>
                <h2><span>3 days of comprehensive GST preparatory workshop on planning and implementations.</span></h2>
                <a href="/pdf/schedule.pdf" target="_blank">
                    check schedule &gt;
                </a>
                <a href="/pdf/regform.pdf" target="_blank">
                    registration form &gt;
                </a>
            </div>
        </div>
    </div>
    <div class="event-overview">

    </div>
</div>