@{
    ViewBag.Title = "WBS";
}




<div class="content-wrapper">
    <div><h1>Helping Your Business Works Out Best</h1></div>
    <div style="width:1000px;margin:0px auto;">
        <ul class="bxslider">
            <li>
                <img style="display:inline-block;" src="/images/gst-banner.jpg" title="GST Preparatory Workshop" />
                @*<span style="display: inline-block; vertical-align:top;">More &gt;&gt;</span>*@
                <a href="/Home/Events"><span style="display: inline-block; vertical-align:top;">More >></span></a>

            </li>

            <li>
                <img src="/images/comp-banner.jpg" title="Helping you in your business" />
            </li>
        </ul>
    </div>
    <div class="service-box">
        <a href="http://www.wbs.com.my/">
            <img src="/images/bas3.png" alt="Bookkeeping & Accountings Service" />
            <h2>Bookkeeping &amp; Accounting Services</h2>
            <div>
                <p>We provide statutory services with high quality</p>
                <span>More >></span>
            </div>
        </a>
    </div>
    <div class="service-box ">
        <a>
            <img src="/images/mgnt.png" alt="Management Service" />
            <h2>Management <br /> Services</h2>
            <div>
                <p>We provide management services with high quality</p>
                <span>More >></span>
            </div>
        </a>
    </div>
    <div class="service-box ">
        <a>
            <img src="/images/tax.png" alt="Tax Consultancy" />
            <h2>Tax &amp; Compliance <br /> Consultancy</h2>
            <div>
                <p>We provide tax consultancy with high quality</p>
                <span>More >></span>
            </div>
        </a>
    </div>
    <div class="service-box ">
        <a>
            <img src="/images/vas.png" alt="Value Added Services" />
            <h2>Value Added <br /> Services</h2>
            <div>
                <p>We provide value added services with high quality</p>
                <span>More >></span>
            </div>
        </a>
    </div>
</div>
