@{
    ViewBag.Title = "Services";
}

<div class="content-wrapper" style="width: 100%; background-color: transparent;background-image : none;">
    <div class="services-hero">
        <div class="services-hero-wrapper ">
            <div class="services-hero-text">
                <div>
                    <ul>
                        <li>
                            <h1>Business is better with WBS services</h1>
                        </li>
                        <li>
                            <h4>
                                Here in WBS, we help you work better together, so you can get more
                                done—in the way you want.
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section style="background-color: #009CDE; padding: 30px 0px; ">
        <div class="services-rows">
            <div style="">
                <div>
                    <div style="width: 32%; display: block; float: left; box-sizing: border-box;">
                        <div style="vertical-align: baseline;"><h2>Established team</h2></div>
                        <p>Team of qualified accountants that provide professional accounting compliance - outsourcing services</p>
                        @*<div style="font-size: 1.2em; color: #666;">Team of qualified accountants that provide professional accounting compliance - outsourcing services</div>*@

                    </div>
                    <div style="width: 32%;display: block; float: left; box-sizing: border-box;margin-left:2%;">
                        <div style="vertical-align: baseline;"><h2>Get it done, faster</h2></div>
                        <p>Team of dedicated professional that contribute to increase overall efficiency of your company operational routines.</p>
                    </div>
                    <div style="width: 32%; display: block; float: left; box-sizing: border-box; margin-left: 2%; ">
                        <div style="vertical-align: baseline;"><h2>More for your money</h2></div>
                        <p>Quality accounting deliverable that come with competitive fixed fees aids cost control and budgeting.</p>
                    </div>
                </div>

            </div>
        </div>
        <div style="clear:both;margin-bottom:25px"></div>
    </section>
    <section style="min-height:400px; overflow: hidden; z-index: 2; background: none repeat scroll 0% 0% #FFF; transform: translate(0px, 0px); position: relative; ">
        <div style="background-size: cover; background-position: 60%; background-image: url('/images/service-book.jpg'); width: 100%; height: 475px; position: absolute; top: 0px; left: 0px; z-index: -1; background-repeat: no-repeat; "></div>
        <div style="margin-right: auto; margin-left: auto; box-sizing: content-box; min-width: 67.1429em; max-width: 82.1429em;">
            <div style="margin-left: 0px; min-height: 1px; box-sizing: border-box; float: left; margin-top:100px">
                <div style="height: 200px; display: inline-block; vertical-align: middle; line-height: 1.5em; text-align: center;;">
                    <h2 style="color: #444; font-weight:400; font-size: 2rem; font-family: 'Segoe UI',Verdana,Helvetica,sans-serif;">Ideal accounting solutions.</h2>
                    <p style="line-height: 2em;font-size: 1.071rem; color: #777;">Start managing your accounting easily. We've had taken care all for you, from start to finish. Stop the headache, it's managed by us.</p>
                </div>
                @*<div style="height: 200px;display: inline-block; vertical-align: middle; line-height: 1.5em; width: 45%; margin-left: 45px;">
                    <h2 style="color: #444; font-weight:400; font-size: 2rem; font-family: 'Segoe UI',Verdana,Helvetica,sans-serif;">Complete accounting services.</h2>
                    <p style="line-height: 2em;font-size: 1.071rem; color: #777;">With all around complete accounting services you can rest assure the task is well taken care off.</p>
                </div>*@
                <div style="text-align:center;">
                    <a href="/Home/Accounting" class="services-btn">Details</a>
                </div>


            </div>


        </div>
    </section>


    <section style="min-height:400px; overflow: hidden; z-index: 2; background: none repeat scroll 0% 0% #FFF; transform: translate(0px, 0px); position: relative; ">
        <div style="background-size: cover; background-position: 60%; background-image: url('/images/service-mgnt.jpg'); width: 100%; height: 475px; position: absolute; top: 0px; left: 0px; z-index: -1; background-repeat: no-repeat; "></div>
        <div style="margin-right: auto; margin-left: auto; box-sizing: content-box; min-width: 67.1429em; max-width: 82.1429em;">
            <div style="margin-left: 0px; min-height: 1px; box-sizing: border-box; float: left; margin-top:100px">
                <div style="height:200px;display: inline-block; vertical-align: middle; line-height: 4em;width:45%;">
                    <h2 style="color: #444; font-weight:400; font-size: 2rem; font-family: 'Segoe UI',Verdana,Helvetica,sans-serif;">Management solutions.</h2>
                    <p style="line-height: 2em;font-size: 1.071rem; color: #777;">We help private companies to identify top issues that keeping companies owner up at nights.</p>
                </div>
                <div style="height: 200px;display: inline-block; vertical-align: middle; line-height: 4em; width: 45%; margin-left: 45px;">
                    <h2 style="color: #444; font-weight:400; font-size: 2rem; font-family: 'Segoe UI',Verdana,Helvetica,sans-serif;">Strategizing Your Business.</h2>
                    <p style="line-height: 2em;font-size: 1.071rem; color: #777;">Effective and strategic business planning is key to success for your business.</p>
                </div>
                <div style="text-align:center;">
                    <a href="/Home/Management" class="services-btn" style="margin-right: 130px;" >Details</a>
                </div>


            </div>


        </div>
    </section>
    <section style="min-height:400px; overflow: hidden; z-index: 2; background: none repeat scroll 0% 0% #FFF; transform: translate(0px, 0px); position: relative; ">
        <div style="background-size: cover; background-position: 60%; background-image: url('/images/service-tax.jpg'); width: 100%; height: 475px; position: absolute; top: 0px; left: 0px; z-index: -1; background-repeat: no-repeat; "></div>
        <div class="event-hero-content-text" style="bottom:90px;left:5%;">
            <h1>tax &amp; compliance consultancy</h1>
            <h2><span>Develop tax strategies to ensure you are paying the right amount of tax, and no more than necessary.</span></h2>

            <div style="float: right; margin-top: 10px; margin-right: 150px;">
                <a href="/Home/Tax"  class="services-btn" style="margin-right: 220px;">Details</a>
            </div>


        </div>
    </section>
    @*<section style="background-color: #009CDE; padding: 30px 0px; ">
            <div class="services-rows">
                <div style="">
                    <div>
                        <div style="width: 32%; display: block; float: left; box-sizing: border-box;">
                            <div style="vertical-align: baseline;"><h2>Established team</h2></div>
                            <p>Team of qualified accountants that provide professional accounting compliance - outsourcing services</p>
                        </div>
                        <div style="width: 32%;display: block; float: left; box-sizing: border-box;margin-left:2%;">
                            <div style="vertical-align: baseline;"><h2>Get it done, faster</h2></div>
                            <p>Team of dedicated professional that contribute to increase overall efficiency of your company operational routines.</p>
                        </div>
                        <div style="width: 32%; display: block; float: left; box-sizing: border-box; margin-left: 2%; ">
                            <div style="vertical-align: baseline;"><h2>More for your money</h2></div>
                            <p>Quality accounting deliverable that come with competitive fixed fees aids cost control and budgeting.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div style="clear:both;margin-bottom:25px"></div>
        </section>*@

    <section style="min-height:400px; overflow: hidden; z-index: 2; background: none repeat scroll 0% 0% #FFF; transform: translate(0px, 0px); position: relative; ">
        <div style="background-size: cover; background-position: 60%; background-image: url('/images/service-vas.jpg'); width: 100%; height: 475px; position: absolute; top: 0px; left: 0px; z-index: -1; background-repeat: no-repeat; "></div>
        <div class="event-hero-content-text services-hero-content-text">
            <h1>Value Added Service</h1>
            <h2><span>Delivering value-added professional services to your business.</span></h2>

           
        </div>
        <div style="text-align: center; margin: 0px auto; max-width: 500px;">
            <a href="/Home/Value" class="services-btn" style="margin-right: 10px;margin-top: 300px;">Details</a>
        </div>
    </section>


    @*<div class="services-rows" style="background-color: #F5F5F5">
            <div style="">
                <div>
                    <div style="width: 32%; display: block; float: left; box-sizing: border-box;">
                        <div style="vertical-align: baseline;"><h2 style="font-size: 23px; color: #666;">Established team</h2></div>
                        <div style="font-size: 1.2em; color: #666;">Team of qualified accountants that provide professional accounting compliance - outsourcing services</div>

                    </div>
                    <div style="width: 32%;display: block; float: left; box-sizing: border-box;margin-left:2%;">
                        <div style="vertical-align: baseline;"><h2 style="font-size: 23px; color: #666;">Get it done, faster</h2></div>
                        <div style="font-size: 1.2em; color: #666;">Team of dedicated professional that contribute to increase overall efficiency of your company operational routines.</div>
                    </div>
                    <div style="width: 32%; display: block; float: left; box-sizing: border-box; margin-left: 2%; ">
                        <div style="vertical-align: baseline;"><h2 style="font-size: 23px; color: #666;">More for your money</h2></div>
                        <div style="font-size: 1.2em; color: #666;">Quality accounting deliverable that come with competitive fixed fees aids cost control and budgeting.</div>
                    </div>
                </div>

            </div>
        </div>*@
    @*<div style="clear:both;margin-bottom:25px"></div>*@
</div>
