@{
    ViewBag.Title = "Value Added";
}

<div class="content-wrapper" style="width: 100%; background-color: transparent;background-image : none;">

    <div class="service-value-hero">
        <div class="service-management-wrapper">
            <div class="service-value-text">
                <h1>Value Added Service</h1>
            </div>

        </div>
    </div>

    <section class="service-accounting-section ">
        <div class="service-accounting-wrap">
            <div class="service-accounting-unit">
                <h2>work smarter, grow faster</h2>
                <p>We help organisation build effective organisation by exploring business's value chain and analyze financial data. Also we provide services that align business to achieve smoother operations, greater profitability and more sustainable growth.</p>
            </div>
        </div>
    </section>

    <section class="service-accounting-section" style="background-color: #1e69de;">
        <div class="service-accounting-wrap">
            <header>
                <h2>Service Plans</h2>
            </header>
            <div class="service-accounting-unit" style="">
                <div class="service-accounting-wrap" style="width:45%; float: left;">
                    <div class="service-accounting-plan-text">
                        <h3 style="text-transform:uppercase;font-weight:600;">basic plan</h3>
                        <p>With basic plan you can rest assure your ledger are well maintained.</p>
                        <p><strong style="display:block;font-weight:600;">Great for :</strong>Sole proprietary and small business owners.</p>
                    </div>
                </div>
                <div class="service-accounting-wrap" style="width:45%; float: left;">
                    <div class="service-accounting-plan-text">
                        <h3 style="text-transform:uppercase;font-weight:600;">complete plan</h3>
                        <p>With complete plan you can rest assure your ledger are well maintained.</p>
                        <p><strong style="display: block; font-weight: 600;">Great for :</strong>SME and Regional Business</p>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </section>

    <section class="service-accounting-section" style="color: #666;">
        <div style="">
            <div style="width:100%">
                <p style="font-size: 2rem; line-height: 1.25em; letter-spacing: 0.01em; font-weight:300;">Get free consultation from us.</p>
                <a class="services-btn" style="width: 22%;">Contact us now</a>
            </div>
        </div>
    </section>

</div>
